body {
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(51, 50, 50);
    color: white;
}

